@using PagedList
@using PagedList.Mvc
@model IPagedList<MvcBlog.Models.Makale>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:-5px">
    @foreach (var item in Model)
    {
        <h1 class="my-4">
            <small><a href="/Home/MakaleDetay/@item.MakaleID">@item.Baslik</a></small>
        </h1>
        <div class="card mb-4">
            <img class="card-img-top" src="@item.Foto" alt="@item.Baslik">
            <div class="card-body">
                <h2 class="card-title">@item.Baslik</h2>

                @*@if (item.Icerik.Length >= 150)
                    {
                        <p class="card-text">
                            @Html.Raw(item.Icerik.Substring(0,150)) ...
                        </p>
                    }
                    else
                    {
                        <p class="card-text">
                            @Html.Raw(item.Icerik) ...
                        </p>
                    }*@

                <p class="card-text">
                    @Html.Raw(item.Icerik) ...
                </p>

                <a href="/Home/MakaleDetay/@item.MakaleID" class="btn btn-success">Devamını Oku &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                <img style="border-radius:50%" width="50" src="@item.Uye.Foto" alt="@item.Uye.AdSoyad" />
                <a href="/Uye/UyeProfili/@item.Uye.UyeID">@item.Uye.KullaniciAdi</a>
                <span style="color:black">Tarih: </span> @String.Format("{0: MMMM yyyy}", item.Tarih)
                <span style="color:black">Etiketler: </span>@item.Etikets.Count()
            </div>
        </div>
        <hr />
    }
    <div class="row">
        <div class="col-md-8 text-center">
            <div class="pagedList pagination-lg">
                @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>
</div>

